@font-face {
  font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("fonts/Ubuntu-Bold.ttf");
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Ubuntu-Bold;
}

p {
  font-family: OpenSans-Light;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
  font-family: Roboto
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

img {
  margin: 10px;
}

.site-title {
  font-family: Ubuntu-Bold;
}

code {
  font-family: OpenSans-Regular;
  color: #eba121;
  text-shadow: rgba(255,162,0,0.9) 0px 0px 39px; 
}
